<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title style="text-align:center;">Car Recommender System</title>   
  <link rel="stylesheet" type ="text/css"  href="static/css/style.css">
    <style type ="text/css">
        nav {
            text-align: center;
            background-color:#001f3f;
            padding: 10px;
            }
        
        nav a {
            text-align: center;
            text-decoration:none;
            color:#fff;
               }
    </style>

    
</head>

<body>
     <nav>
        <a  href="https://www.linkedin.com/in/cabreirajm/">Linkedin</a>
        <a  href="https://medium.com/@cabreirajm">Medium</a>
        <a  href="https://github.com/jmcabreira">GitHub</a>

    </nav>
    
  {% block content %}{% endblock %}
</body>

</html>